# Transparent item models
public net.minecraft.client.renderer.RenderStateShard f_110133_ # name# Transparent item models
public net.minecraft.client.renderer.RenderStateShard f_110133_ # name
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74482_ # palettes
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate f_74483_ # entityInfoList